<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctt.mapper.UserMapper">


    <select id="findUserByUserNameAndPwd" resultType="com.alibaba.fastjson.JSONObject">
        select username,nickname,status from sys_user where username = #{userName} and password = #{pwd} limit 1
    </select>

    <select id="getInfo" resultType="com.ctt.bean.User">
        select username,nickname,status,avatar,'admin' roles from sys_user where username = #{username} limit 1

    </select>
</mapper>